<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('寄件列表')"/>
    <style>
        label {
            width: 140px !important;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>寄件唯一识别码：</label>
                            <input type="text" name="id" />
                        </li>
                        <li>
                            <label>寄件人姓名：</label>
                            <input type="text" name="mailName" placeholder="模糊查询"/>
                        </li>
                        <li class="select-time">
                            <label>寄件日期：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginMailDate]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endMailDate]"/>
                        </li>
                        <li>
                            <label>收件人邮编：</label>
                            <input type="text" name="receiptPostCode"/>
                        </li>
                        <li>
                            <label>收件人电话信息：</label>
                            <input type="text" name="receiptTellphone"/>
                        </li>
                        <li>
                            <label>收件人身份证号码：</label>
                            <input type="text" name="receiptIdcard"/>
                        </li>
                        <li>
                            <label>收件人姓名：</label>
                            <input type="text" name="receiptName" placeholder="模糊查询"/>
                        </li>
                        <li>
                            <label>运单号：</label>
                            <input type="text" name="waybillNumber"/>
                        </li>
                        <li>
                            <label>是否已发货：</label>
                            <select name="shipmentStatusParam">
                                <option value="">--所有--</option>
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="logistics:expressDelivery:add">
                            <i class="fa fa-plus"></i> 添加
                        </a>-->
            <!--            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="logistics:expressDelivery:edit">
                            <i class="fa fa-edit"></i> 修改
                        </a>-->
            <!--            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                           shiro:hasPermission="logistics:expressDelivery:remove">
                            <i class="fa fa-remove"></i> 删除
                        </a>-->
            <!--            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="logistics:expressDelivery:edit">
                            <i class="fa fa-edit"></i> 录入单号
                        </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="logistics:expressDelivery:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('logistics:expressDelivery:edit')}]];
    var removeFlag = [[${@permission.hasPermi('logistics:expressDelivery:remove')}]];
    var prefix = ctx + "logistics/info/expressDeliveryInfo";

    $(function () {
        var options = {
            url: prefix + "/list",
//            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
//            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "物流单号",
            columns: [
                {
                    field: 'id',
                    title: '寄件唯一识别码'
                },
                {
                    field: 'mailName',
                    title: '寄件人姓名'
                },
                {
                    field: 'mailSex',
                    title: '寄件人性别',
                    formatter: function (value, row, index) {
                        switch (value) {
                            case 0:
                                return "女";
                            case 1:
                                return "男";
                            default:
                                return value;
                        }
                    }
                },
                {
                    field: 'mailWxid',
                    title: '寄件人微信id'
                },
                {
                    field: 'mailAddress',
                    title: '寄件人地址'
                },
                {
                    field: 'mailPostCode',
                    title: '寄件人邮编'
                },
                {
                    field: 'mailDate',
                    title: '寄件日期'
                },
                {
                    field: 'bagsNum',
                    title: '预估行李数量'
                },
                {
                    field: 'receiptAddress',
                    title: '收件人地址'
                },
                {
                    field: 'receiptPostCode',
                    title: '收件人邮编'
                },
                {
                    field: 'receiptTellphone',
                    title: '收件人电话信息'
                },
                {
                    field: 'receiptIdcard',
                    title: '收件人身份证号码'
                },
                {
                    field: 'receiptName',
                    title: '收件人姓名'
                },
                {
                    field: 'waybillNumber',
                    title: '运单号'
                },
                {
                    field: 'shipmentStatus',
                    title: '发货状态',
                    formatter: function (value, row, index) {
                        switch (value) {
                            case true:
                                return "<font color='green'>已发货</font>";
                            default:
                                return "<font color='red'>未发货</font>";
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (!row.shipmentStatus) {
                            actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="orderNumberEntry(\'' + row.id + '\')"><i class="fa fa-edit"></i>录入单号</a> ');
                        } else {
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="viewLogisticsRecords(\'' + row.waybillNumber + '\')"><i class="fa fa-edit"></i>查询物流记录</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /**
     * 快递单号录入
     */
    function orderNumberEntry(id) {
        table.set();
        $.modal.open("录入快递单号", $.operate.editUrl(id), 800, 200);
    }

    /**
     * 查看物流记录
     */
    function viewLogisticsRecords(waybillNumber) {
        table.set();
        $.modal.open("查询物流信息", ctx + "/logistics/info/LogisticsRecord/" + waybillNumber);
    }

</script>
</body>
</html>